<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InjectModuleInitializer" version="1.5" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net461" />
  <package id="Moq" version="4.0.10827" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net461" />
  <package id="xunit" version="1.9.2" targetFramework="net461" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net461" />
</packages>